.welcome {
    background-image: url('../images/foopanda-bg-1.jpg');
    width: auto;
}

.restaurants_tag {
    text-decoration: none;
    color: black;
    line-height: 25px;
}

.restaurants_tag:nth-child(1):hover {
    color: red !important;
}

.menu_component:hover {
    border-width: 3px;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            red,
            rgba(0, 0, 0, 0)) 1 100%;
}

.img_thumbnail {
    width: 300px;
    height: 250px;
}

.foodpanda_about_us {
    min-height: 400px;
    height: auto;
}

.food-panda-red {
    color: #d70f64 !important;
}

.food-panda-red-button {
    color: white;
    background-color: #d70f64 !important;
    border: #d70f64 !important;
}

.parallax-careers {
    /* The image used */
    background-image: url("../images/foodpanda-career.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_press {
    background-image: url('../images/foodpanda-section3.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact_us {
    background-color: #d70f64 !important;
    min-height: 250px;
}

.get_in_touch_btn {
    background-color: white;
    color: #d70f64 !important;
}

@media (max-width: 575.98px) {
    .footer-nav {
        text-align: center !important;
        justify-content: center !important;
    }
    .menu_component_mobile{
        text-align: center !important;
    }
}